PAYLOAD_SECRET=jawliejfilwajefSEANlawefawfewag349jwgo3gj4w
#MONGODB_URI=mongodb://127.0.0.1:27017/next-payload-3
POSTGRES_URI=postgresql://payload_db_user:db_payload_pw@127.0.0.1:5432/payload_db_dev
DATABASE_NAME=payload_db_dev
DATABASE_USERNAME=payload_db_user
DATABASE_PASSWORD=db_payload_pw
